translation:
#	dirs: ['%modules.article.path%/resources/translations']  # moved
	dirs: ['%appDir%/modules/article-module/resources/translations']

includes:
	- presenters.neon
	- components.neon
	- authorizator.neon
